
    

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
<p class="mt-5">We understand how growing plants can be difficult at times because there are many variables involved which help determine the outcome. Three variables we can typically maintain control over are water, amount of light, and nutrients. There are other variables which are determined before the plant even sprouts, for example genetics, but we’ll only focus on water, light, and nutrients for now. </p> 
    <p>The primary goal of this simulation is to grow your plant to over 10 in. This can be accomplished by selecting the right amount of each variable. If you don’t select the right amount of each, your plant won’t reach its full potential or worse!  </p>
   <h3 >Good Luck!</h3>
        </div>
   <div class="col-1"></div>
</div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-5"></div>
        <div class="col-2"><button (click)="onSubmit()">Begin</button></div>
        <div class="col-5"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-2 mt-5"></div>
        <div class="col-8 mt-5">  <img src="../../assets/images/plants.jpg" alt="Plants Banner"></div>
        <div class="col-2 mt-5"></div>
    </div>
  
</div>

