@import '~bootstrap/dist/css/bootstrap.min.css'; 

@font-face{
    font-family: arcade; 
    src:url(../../assets/fonts/ARCADE_N.TTF) format("opentype")
}


*, p, h5{
    font-family: 'arcade'
}




@media only screen and (max-width: 600px) {



    h5{
        font-size: 15px; 
    }

    h4{
        font-size: 14px; 
    }
    p{
        font-size: 12px; 
    }

  }